td {
    vertical-align: middle;
}

.total {
    margin-right: 240px !important;
}

.payment {
    margin-right:80px;
    margin-left:80px;
}

.make-payment{
    margin-left: 400px;
}

@media screen and (max-width: 1200px) {
    .total {
        margin-right: 180px !important;
    }

    .make-payment{
        margin-left: 350px;
    }
}

@media screen and (max-width: 992px) {
    .total {
        margin-right: 110px !important;
    }
    .make-payment{
        margin-left: 250px;
    }
}